/* SIDEBAR */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 18.75rem; /* 300px para rem */
    background-color: #000000;
    padding: 0.75rem; /* 12px para rem */
}

.sidebar .logo {
    background-color: #121212;
    display: flex;
    border-radius: 0.5rem; /* 8px para rem */
    padding: 1rem 0 0 1rem; /* 16px, 0, 0, 16px para rem */
}

.sidebar .logo img {
    width: 5rem; /* 80px para rem */
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 0.5rem; /* 8px para rem */
    cursor: pointer;
}

.sidebar nav ul {
    list-style: none;
    margin-top: 1.25rem; /* 20px para rem */
    padding: 0 1.25rem 0.625rem 1.25rem; /* 0, 20px, 10px, 20px para rem */
}

.sidebar nav ul li {
    padding: 0.625rem 0; /* 10px, 0 para rem */
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.875rem; /* 14px para rem */
}

.sidebar nav ul li .fa {
    font-size: 1.25rem; /* 20px para rem */
    margin-right: 0.625rem; /* 10px para rem */
    font-weight: 300;
}

.sidebar nav ul li a:hover {
    color: #ffffff;
}

.library {
    background-color: #121212;
    border-radius: 0.5rem; /* 8px para rem */
    display: flex;
    justify-content: space-between;
    min-block-size: 2.5rem; /* 40px para rem */
    padding: 0.25rem 0.5rem; /* 4px, 8px para rem */
    color: #b3b3b3;
    font-weight: 600;
    font-size: 0.875rem; /* 14px para rem */
    margin-top: 0.625rem; /* 10px para rem */
    flex-direction: column;
}

.library .library__button {
    margin-right: 0.625rem; /* 10px para rem */
    color: #b3b3b3;
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 1.25rem 0.625rem; /* 20px, 10px para rem */
    display: flex;
}

.library .library__button .fa {
    font-size: 1.25rem; /* 20px para rem */
    margin-right: 0.625rem; /* 10px para rem */
    font-weight: 300;
    padding-right: 0.5rem; /* 8px para rem */
}

.library__content {
    display: flex;
    justify-content: space-between;
}

.library .library__content .fa-plus {
    margin: 1.5rem 0.625rem; /* 24px, 10px para rem */
}

.section-playlist {
    background-color: #242424;
    align-items: flex-start;
    border-radius: 0.5rem; /* 8px para rem */
    gap: 1.25rem; /* 20px para rem */
    display: flex;
    justify-content: space-between;
    min-block-size: 2.5rem; /* 40px para rem */
    color: #b3b3b3;
    font-weight: 600;
    font-size: 0.875rem; /* 14px para rem */
    margin: 0.5rem 0;
    padding: 1rem 1.25rem; /* 16px, 20px para rem */
}

.section-playlist .section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text {
    padding-bottom: 0.875rem; /* 14px para rem */
    color: #fff;
}

.section-playlist__content .title {
    font-weight: 700;
}

.section-playlist__content .subtitle {
    font-weight: 500;
    font-size: 0.8rem; /* 12.
