:root {
  /* Colors */
  --text-base-dark: #000;
  --text-base-light: #fff;
  --text-sub: #a7a7a7;

  --bg-icon: #131313;
  --bg-top-bar: #61616142;
  --grid-gap: 24px;
  --column-count: 5;

  /* Colors Cards */
  --card1: rgb(0, 100, 80);
  --card2: rgb(132, 0, 231);
  --card3: rgb(30, 50, 100);
  --card4: rgb(140, 25, 50);
  --card5: rgb(232, 17, 91);
  --card6: rgb(83, 122, 161);
  --card7: rgb(142, 102, 172);
  --card8: rgb(20, 138, 8);
  --card9: rgb(30, 50, 100);
  --card10: rgb(233, 20, 41);
  --card11: rgb(80, 55, 80);
  --card12: rgb(216, 64, 0);
  --card13: rgb(186, 93, 7);
  --card14: rgb(0, 30, 80);
  --card15: rgb(60, 30, 80);

  /* Fonts */
  --font-dm-sans: "DM Sans", sans-serif;
}

/* MEDIA QUERYS */
@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) and (max-width: 1274px) {
}
